@import helper._

@main("About Project") {

   <h1>About Project</h1>
   	<div class="jumbotron">
   <h3><strong>Project Overview</strong></h3>
   <p>JPL has provided a repository of web services for multi-aspect physics-based and phenomenon-oriented phenomenon-oriented climate model performance evaluation and diagnosis through the comprehensive and synergistic use of multiple observational data, reanalysis data, and model outputs.</p>
   <p>This project aims to study various hidden relationships, including semantic relationships and usage relationships, to 
   help users not only learn available datasets and web services, but also learn how to use them. Moreover, we aim to 
   facilitate Earth scientists and students in designing climate analytics workflows faster than before.</p>
   
   
</div>
}