@(users: List[User], userForm: play.data.Form[User])

@import helper._

@main("All Users") {

    <h1>@users.size() Users</h1>
		<table class="table table-striped table-bordered table-condensed ex2">
	<tr>
		<td class="col-md-1">Id</td>
		<td class="col-md-2">User Name</td>
		<td class="col-md-2">First Name</td>
		<td class="col-md-2">Middle Name</td>
		<td class="col-md-2">Last Name</td>
		<td class="col-md-2">Afflication</td>
		<td class="col-md-4">Email</td>
		<td class="col-md-2">Research Area</td>
		@if(true){
			<td class="col-md-3">Operation</td> 
	     }
	</tr>
	@for(user <- users){
	<tr>
		<td>@user.getId()</td>
		
		<td><span class="@user.getId() editable" data-name='username'>@user.getUserName()</span></td>
				
		<td><span class="@user.getId() editable" data-name='firstName'>@user.getFirstName()</span></td>
				
		<td><span class="@user.getId() editable" data-name='middleInitial'>@user.getMiddleInitial()</span></td>
				
		<td><span class="@user.getId() editable" data-name='lastName'>@user.getLastName()</span></td>
		
		<td><span class="@user.getId() editable" data-name='affiliation'>@user.getAffiliation()</span></td>
				
		<td><span class="@user.getId() editable" data-name='email'>@user.getEmail()</span></td>
				
		<td><span class="@user.getId() editable" data-name='researchFields'>@user.getResearchFields()</span></td>
			
	</tr>
	}
    </table>
    }

