@import helper._

@main("Frequently Requested Queries") {

   <h2>Frequently Requested Queries</h2>
   <div class="container">
   <h3>Visualize Relationship in Knowledge Graph</h3>
   <ul>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph()'>Visualize relationship between user and dataset, based on service usage</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph("User", "Service", "Dataset")'>Visualize relationship between user and service, based on dataset usage</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph("Dataset", "Service", "User")'>Visualize relationship between dataset and service, based on user</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph("User", "User", "Dataset")'>Visualize relationship between user and user, based on dataset usage</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph("User", "User", "Service")'>Visualize relationship between user and user, based on service usage</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph("Dataset", "Dataset", "Service")'>Visualize relationship between dataset and dataset, based on service usage</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph("Dataset", "Dataset", "User")'>Visualize relationship between dataset and dataset, based on user</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph("Service", "Service", "Dataset")'>Visualize relationship between service and service, based on dataset usage</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph("Service", "Service", "User")'>Visualize relationship between service and service, based on user</a>
   </li>
   </ul>
   
   <h3>Search in Knowledge Graph</h3>
   <ul>
   <li style="margin-bottom: 5px;">
   <a href='@routes.ClimateServiceController.searchClimateServices()'>Search on service based on features</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.DatasetController.searchDataset()'>Search on dataset based on features</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.ServiceExecutionLogController.searchServiceLog'>Search on service execution log based on criteria</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph()'>Visualize user behavior on dataset within a time range</a>
   </li>
   </ul>
   
   <h3>Dynamic Statistics</h3>
   <ul>
   <li style="margin-bottom: 5px;">
   <a href='@routes.ClimateServiceController.mostPopularServices()'>Most popular service</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.DatasetController.mostPopularDatasets()'>Most popular dataset</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.UsersController.getAllUsers()'>Most active user</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.ClimateServiceController.recommendationSummary("ochimborazo")'>ML Based Recommendation</a>
   </li>
   </ul>
   
	</div>
}