@(title: String, moreScripts: Html = Html(""))(content: Html) 

<!DOCTYPE html>

<html>
<head>

<title>@title</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href='@routes.Assets.at("stylesheets/bootstrap.css")'>
<link rel="stylesheet"
	href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>	
<link rel="stylesheet"
	href='@routes.Assets.at("stylesheets/navbar-fixed-top.css")'>
<link rel="stylesheet"
	href='@routes.Assets.at("stylesheets/custom.css")'>
<link rel="stylesheet" media="screen"
	href='@routes.Assets.at("stylesheets/main.css")'>
<link rel="shortcut icon" type="image/png"
	href='@routes.Assets.at("images/favicon.png")'>
<link rel="stylesheet"
	href='@routes.Assets.at("stylesheets/bootstrap-editable.css")'>
<link href='@routes.Assets.at("stylesheets/jquery.tablesorter.pager.css")'
	rel="stylesheet" />
<link href='@routes.Assets.at("stylesheets/style.css")'
	rel="stylesheet" />
<link rel="stylesheet"
	href='@routes.Assets.at("stylesheets/livefitler.css")'>
<link rel="stylesheet"
    href='@routes.Assets.at("stylesheets/custom_recommend.css")'>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/vis/3.11.0/vis.min.css">
<link rel="stylesheet" 
	href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">


<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-1.11.3.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/parameter.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/lastLoader.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/jquery.metadata.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/jquery.tablesorter.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/bootstrap-editable.min.js")'></script>

<!--  
<script type="text/javascript" src='@routes.Assets.at("javascripts/edit_button.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/livefitler.js")'></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
-->
<script type="text/javascript" src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

@moreScripts

</head>

<body>
	
	@header()

	<div class="container">

		@content

	</div>
	
	@footer()

</body>
</html>


