
@(climateServices: List[metadata.ClimateService], climateServiceForm: play.data.Form[metadata.ClimateService])

@import helper._

@scripts = {
	<script src='@routes.Assets.at("javascripts/edit_button.js")'></script>
	<script type="text/javascript">
	$(document).ready(function(){
		//alert($("#url").text());
	});
	</script>
}

@main("Climate Services", scripts) {
	
	@flash_message()   
	 
    <h1>@climateServices.size() Climate Services</h1>
		<table class="table table-striped table-bordered table-condensed ex2 tablesorter" id = "csTable">
		<thead>
	<tr>
		<th class="col-md-2">Climate Service Name</td>
		<th class="col-md-4">Purpose</td>
		<th class="col-md-2">Url</td>
		
	</tr>
	</thead>
	@for(climateService <- climateServices){
	<tr>
		<td><a href = "@{routes.ClimateServiceController.oneService(climateService.getUrl())}"><font size="3">@climateService.getClimateServiceName()</a></font></td>

		<td><span class="@climateService.getClimateServiceName() editable"  data-name='purpose'><font size="3">
				@climateService.getPurpose() </font></span></td>
		
		<td class = "text-center" ><span class="@climateService.getClimateServiceName() editable" id = "url" data-name='url'>
				<a href = "@{routes.ClimateServiceController.oneService(climateService.getUrl())}"><img src='@climateService.getPhoto()' style="height: 150px; width: 150px" ></a> </span></td>
	
	</tr>
	}
    </table>
 
    
     @if(false){
		    
	    @form(routes.ClimateServiceController.downloadClimateService(), 'class -> "form-horizontal", 'role -> "form") {
	
	        <button type="submit" name="action" value="download">Download</button>
	    }
    }
}
