@(email: String, vfile: String, dataset: String)


@import helper._ 

@main("Estimator") {


<ol class="breadcrumb">
	<li><a href="/climate/tutorial">Tutorials</a></li>
	<li><a href="/climate/climateServices">Model Analytics Services</a></li>
	<li><a href="/climate/datasets">Datasets</a></li>
	<li><a href="/climate/workflows">Workflows</a></li>
	<li><a href="/climate/recommendation">Recommendation</a></li>
	<li><a href="/climate/user">User Management</a></li>
</ol>

<div class="jumbotron">
<div class="row">

	<div class="col-lg-6">
		<img src="/assets/images/NASA_JPL_logo.png" height="150" width="430">
	</div>
	<div class="col-lg-6">
	<h1>Climate Model Analysis</h1>
	<p>JPL has provided a repository of web services for multi-aspect physics-based and phenomenon-oriented
	   phenomenon-oriented climate model performance evaluation and diagnosis through the comprehensive and 
	   synergistic use of multiple observational data, reanalysis data, and model outputs.</p>
	<p>
		<a class="btn btn-lg btn-default"
						href="/climate/tutorial" role="button">Getting Started &raquo;</a>
	</p>
	<!-- @if(!session.get("username")){ -->
		<p>
		    We will help you learn the available web services, how to use them, and help you to design 
		    your climate analytics workflows.
		<p>
		<a class="btn btn-primary"
						href="climate/register" role="button">Register &raquo;</a>
	</p>
	<!-- } -->
	</div>
</div>
</div>

<form method="POST" action="/climate/1" enctype="multipart/form-data">


	<fieldset>
		<legend>Estimator</legend>

		<div class="clearfix" id="name_field">
			<label for="name">Scripting file</label>
			<div class="row">
				<div class="input col-lg-2">

					<input type="file" id="name" name="file" value="@vfile" placeholder="/Downloads/Workflowfiles"> <span
						class="help-inline"></span> <span class="help-block">Required</span>
				</div>
				<div class="upload col-lg-2">
					
				</div>
			</div>
		</div>
		<div class="clearfix" id="title_field">
			<label for="title">Dataset</label>
			<div class="row">
				<div class="input col-lg-2">
	 
					<input type="text" id="title" name="title" value="@dataset" placeholder="/Downloads/Datasets"> <span
						class="help-inline"></span> <span class="help-block">Required</span>
				</div>
			
				<div class="upload col-lg-2">
					<input type="button" class="btn" id="upload-dataset" name="upload-dataset" value="upload">
				</div>
			</div>
		</div>
		<div class="clearfix  " id="email_field">
			<label for="email">Email</label>
			<div class="input">

				<input type="text" id="email" name="email" value="@email"> <span
					class="help-inline"></span> <span class="help-block">Required</span>
			</div>
		</div>

		<div class="clearfix  " id="organization_field">
			<label for="organization">Organization</label>
			<div class="input">

				<input type="text" id="organization" name="organization" value="">

				<span class="help-inline"></span> <span class="help-block"></span>
			</div>
		</div>

		<div class="clearfix  " id="description_field">
			<label for="description">Description</label>
			<div class="input">

				<textarea id="description" name="description" cols="65" rows="7"></textarea>

				<span class="help-inline"></span> <span class="help-block"></span>
			</div>
		</div>

	</fieldset>


	<div class="actions">
		<input type="submit" class="btn btn-primary"
			value="Get Recommendation"> <a href="/estimator" class="btn">Thanks,
			I know what to use</a>
	</div>


</form>
}
