@(email: String, vfile: String, dataset: String)

@import helper._ 

@main("Home") {

<div class="jumbotron">
	<div class="row">

		<div class="col-lg-5">
			</br></br>
			<img src="/assets/images/main.jpg" height="450" width="300" />
		</div>
		<div class="col-lg-6">
			<h2>Climate Model Diagnostic Analyzer</h2>
			<br>
			<p> A repository of web services for multi-aspect physics-based and 
				phenomenon-oriented phenomenon-oriented climate model performance
				evaluation and diagnosis through the comprehensive and synergistic 
				use of multiple observational data, reanalysis data, and model outputs.
			</p>
			
			<!-- @if(!session.get("username")){ -->
			
			<p>
				@if(false){ <a class="btn btn-primary" href="climate/register"
					role="button">Register &raquo;</a> }
			</p>
			<!-- } -->
		</div>
	</div>
</div>

}
