@(serviceLogs: List[metadata.ServiceLog])

@import helper._

@scripts = {
	<script src='@routes.Assets.at("javascripts/edit_button.js")'></script>
}

@main("Result Service Logs", scripts){
	
	@flash_message()   
	 
    <h1>@serviceLogs.size() Service Logs</h1>

		<table class="table table-striped table-bordered table-condensed">
	<tr>
		<td class="col-md-1">ServiceId</td>
		<td class="col-md-2">User</td>
		<td class="col-md-2">Purpose</td>
		<td class="col-md-2">Execution Start Time</td>
		<td class="col-md-2">Execution End Time</td>		
		<td class="col-md-2">DataSet Start Time</td>
		<td class="col-md-2">DataSet End Time</td>
		<td class="col-md-2">Details</td>
	</tr>
	@for(serviceLog <- serviceLogs) {
	<tr>
	<td>@serviceLog.getServiceId</td>
	<td>@serviceLog.getUserId</td>
	<td>@serviceLog.getPurpose</td>
	<td>@serviceLog.getExecutionStartTime</td>
	<td>@serviceLog.getExecutionEndTime</td>
	<td>@serviceLog.getDataSetStartTime</td>
	<td>@serviceLog.getDataSetEndTime</td>
	<td>
	@form(routes.ClimateServiceController.getConfigurationByConfId()){ 
		<input
			name="serviceId" class="hidden" type="hidden"
			value="@serviceLog.getServiceId">  
		<input
			name="logId" class="hidden" type="hidden"
			value="@serviceLog.getServiceConfigurationId"> 
		<input
			type="submit" class="btn btn-link" value="see detail">
	}
	</td>
	</tr>
	}
	</table>
	}